/*
 * -------------------------------------------------
 *  Nextflow config file for reference genome
 * -------------------------------------------------
 * Defines reference genomes, without using iGenome paths
 * Can be used by any config that customises the base
 * path using $params.genomes_base / --genomes_base
 */

params {
  genomes {
    'GRCh37' {
      ac_loci                = "${params.genomes_base}/GRCh37/Annotation/ASCAT/1000G_phase3_20130502_SNP_maf0.3.loci"
      ac_loci_GC              = "${params.genomes_base}/GRCh37/Annotation/ASCAT/1000G_phase3_20130502_SNP_maf0.3.loci.gc"
      bwa_index              = "${params.genomes_base}/GRCh37/Sequence/BWAIndex/human_g1k_v37_decoy.fasta.{amb,ann,bwt,pac,sa}"
      chr_dir                = "${params.genomes_base}/GRCh37/Sequence/Chromosomes"
      chr_length             = "${params.genomes_base}/GRCh37/Sequence/Length/human_g1k_v37_decoy.len"
      dbsnp                 = "${params.genomes_base}/GRCh37/Annotation/GATKBundle/dbsnp_138.b37.vcf"
      dbsnp_index            = "${params.genomes_base}/GRCh37/Annotation/GATKBundle/dbsnp_138.b37.vcf.idx"
      dict                  = "${params.genomes_base}/GRCh37/Sequence/WholeGenomeFasta/human_g1k_v37_decoy.dict"
      fasta                 = "${params.genomes_base}/GRCh37/Sequence/WholeGenomeFasta/human_g1k_v37_decoy.fasta"
      fasta_fai              = "${params.genomes_base}/GRCh37/Sequence/WholeGenomeFasta/human_g1k_v37_decoy.fasta.fai"
      fasta_gz               = "${params.genomes_base}/GRCh37/Sequence/WholeGenomeFasta/human_g1k_v37_decoy.fasta.gz"
      fasta_gzi              = "${params.genomes_base}/GRCh37/Sequence/WholeGenomeFasta/human_g1k_v37_decoy.fasta.gz.gzi"
      fasta_gz_fai           = "${params.genomes_base}/GRCh37/Sequence/WholeGenomeFasta/human_g1k_v37_decoy.fasta.gz.fai"
      germline_resource      = "${params.genomes_base}/GRCh37/Annotation/GermlineResource/gnomAD.r2.1.1.GRCh37.PASS.AC.AF.only.vcf.gz"
      germline_resource_index = "${params.genomes_base}/GRCh37/Annotation/GermlineResource/gnomAD.r2.1.1.GRCh37.PASS.AC.AF.only.vcf.gz.tbi"
      intervals             = "${params.genomes_base}/GRCh37/Annotation/intervals/wgs_calling_regions_Sarek.list"
      snpEff_db              = 'GRCh37.75'
      snpEff_cache           = "${params.genomes_base}/GRCh37/Annotation/snpEff_cache"
      known_indels           = "${params.genomes_base}/GRCh37/Annotation/GATKBundle/{1000G_phase1,Mills_and_1000G_gold_standard}.indels.b37.vcf"
      known_indels_index      = "${params.genomes_base}/GRCh37/Annotation/GATKBundle/{1000G_phase1,Mills_and_1000G_gold_standard}.indels.b37.vcf.idx"
      species                 = 'homo_sapiens'
      vep_cache_version       = '100'
      vep_cache               = "${params.genomes_base}/GRCh37/Annotation/vep_cache/homo_sapiens/100_GRCh37"
      cadd_InDels             = "${params.genomes_base}/GRCh37/Annotation/pathoscore/InDels.tsv.gz"
      cadd_InDels_tbi         = "${params.genomes_base}/GRCh37/Annotation/pathoscore/InDels.tsv.gz.tbi"
      cadd_WG_SNVs            = "${params.genomes_base}/GRCh37/Annotation/pathoscore/whole_genome_SNVs.tsv.gz"
      cadd_WG_SNVs_tbi        = "${params.genomes_base}/GRCh37/Annotation/pathoscore/whole_genome_SNVs.tsv.gz.tbi"
      giab_highconf_vcf           = "${params.genomes_base}/GRCh37/GIAB/HG001_GRCh37_GIAB_highconf_CG-IllFB-IllGATKHC-Ion-10X-SOLID_CHROM1-X_v.3.3.2_highconf_PGandRTGphasetransfer.vcf.gz"
      giab_highconf_tbi       ="${params.genomes_base}/GRCh37/GIAB/HG001_GRCh37_GIAB_highconf_CG-IllFB-IllGATKHC-Ion-10X-SOLID_CHROM1-X_v.3.3.2_highconf_PGandRTGphasetransfer.vcf.gz.tbi"
      giab_highconf_regions       ="${params.genomes_base}/GRCh37/GIAB/HG001_GRCh37_GIAB_highconf_CG-IllFB-IllGATKHC-Ion-10X-SOLID_CHROM1-X_v.3.3.2_highconf_nosomaticdel.bed"
      
      chco_highqual_snps      ="${params.genomes_base}/GRCh37/CHCO_HighQualitySnps.bed"
    }

    'GRCh38' {
      ac_loci                = "${params.genomes_base}/GRCh38/Annotation/ASCAT/1000G_phase3_GRCh38_maf0.3.loci"
      ac_loci_GC              = "${params.genomes_base}/GRCh38/Annotation/ASCAT/1000G_phase3_GRCh38_maf0.3.loci.gc"
      bwa_index              = "${params.genomes_base}/GRCh38/Sequence/BWAIndex/Homo_sapiens_assembly38.fasta.64.{alt,amb,ann,bwt,pac,sa}"
      chr_dir                = "${params.genomes_base}/GRCh38/Sequence/Chromosomes"
      chr_length             = "${params.genomes_base}/GRCh38/Sequence/Length/Homo_sapiens_assembly38.len"
      dbsnp                 = "${params.genomes_base}/GRCh38/Annotation/GATKBundle/dbsnp_146.hg38.vcf.gz"
      dbsnp_index            = "${params.genomes_base}/GRCh38/Annotation/GATKBundle/dbsnp_146.hg38.vcf.gz.tbi"
      dict                  = "${params.genomes_base}/GRCh38/Sequence/WholeGenomeFasta/Homo_sapiens_assembly38.dict"
      fasta                 = "${params.genomes_base}/GRCh38/Sequence/WholeGenomeFasta/Homo_sapiens_assembly38.fasta"
      fasta_fai              = "${params.genomes_base}/GRCh38/Sequence/WholeGenomeFasta/Homo_sapiens_assembly38.fasta.fai"
      fasta_gz                 = "${params.genomes_base}/GRCh38/Sequence/WholeGenomeFasta/Homo_sapiens_assembly38.fasta.gz"
      fasta_gz_fai              = "${params.genomes_base}/GRCh38/Sequence/WholeGenomeFasta/Homo_sapiens_assembly38.fasta.gz.fai"
      fasta_gzi                 = "${params.genomes_base}/GRCh38/Sequence/WholeGenomeFasta/Homo_sapiens_assembly38.fasta.gz.gzi"
      germline_resource      = "${params.genomes_base}/GRCh38/Annotation/GermlineResource/gnomAD.r2.1.1.GRCh38.PASS.AC.AF.only.vcf.gz"
      germline_resource_index = "${params.genomes_base}/GRCh38/Annotation/GermlineResource/gnomAD.r2.1.1.GRCh38.PASS.AC.AF.only.vcf.gz.tbi"
      intervals             = "${params.genomes_base}/GRCh38/Annotation/intervals/wgs_calling_regions.hg38.bed"
      known_indels           = "${params.genomes_base}/GRCh38/Annotation/GATKBundle/{Mills_and_1000G_gold_standard.indels.hg38,beta/Homo_sapiens_assembly38.known_indels}.vcf.gz"
      known_indels_index      = "${params.genomes_base}/GRCh38/Annotation/GATKBundle/{Mills_and_1000G_gold_standard.indels.hg38,beta/Homo_sapiens_assembly38.known_indels}.vcf.gz.tbi"
      snpEff_db              = 'GRCh38.86'
      snpEff_cache           = "${params.genomes_base}/GRCh38/Annotation/snpEff_cache"
      species               = 'homo_sapiens'
      vep_cache               = "${params.genomes_base}/GRCh38/Annotation/vep_cache/homo_sapiens/100_GRCh38"
      vep_cache_version       = '100'
    }
    'minimalGRCh37' {
      fasta                 = "${params.genomes_base}/smallGRCh37/human_g1k_v37_decoy.small.fasta"

    }
    'smallGRCh37' {
      dbsnp                 = "${params.genomes_base}/smallGRCh37/dbsnp_138.b37.small.vcf.gz"
      dbsnp_index                 = "${params.genomes_base}/smallGRCh37/dbsnp_138.b37.small.vcf.gz.tbi"
      fasta                 = "${params.genomes_base}/smallGRCh37/human_g1k_v37_decoy.small.fasta"
      fasta_fai             = "${params.genomes_base}/smallGRCh37/human_g1k_v37_decoy.small.fasta.fai"
      fasta_gz                 = "${params.genomes_base}/smallGRCh37/human_g1k_v37_decoy.small.fasta.gz"
      fasta_gz_fai             = "${params.genomes_base}/smallGRCh37/human_g1k_v37_decoy.small.fasta.gz.fai"
      fasta_gzi                 = "${params.genomes_base}/smallGRCh37/human_g1k_v37_decoy.small.fasta.gz.gzi"
      dict                  = "${params.genomes_base}/smallGRCh37/human_g1k_v37_decoy.small.dict"
      bwa_index             = "${params.genomes_base}/smallGRCh37/human_g1k_v37_decoy.small.fasta.{amb,ann,bwt,pac,sa}"
      germline_esource      = "${params.genomes_base}/smallGRCh37/dbsnp_138.b37.small.vcf.gz"
      intervals             = "${params.genomes_base}/smallGRCh37/small.intervals"
      known_indels          = ["${params.genomes_base}/smallGRCh37/1000G_phase1.indels.b37.small.vcf.gz", "${params.genomes_base}/smallGRCh37/Mills_and_1000G_gold_standard.indels.b37.small.vcf.gz"]
      known_indels_index    = ["${params.genomes_base}/smallGRCh37/1000G_phase1.indels.b37.small.vcf.gz.tbi", "${params.genomes_base}/smallGRCh37/Mills_and_1000G_gold_standard.indels.b37.small.vcf.gz.tbi"]
      snpEff_db              = 'GRCh37.75'
      snpEff_cache           = "${params.genomes_base}/GRCh37/Annotation/snpEff_cache"
      species               = 'homo_sapiens'
      vep_cache               = "${params.genomes_base}/GRCh37/Annotation/vep_cache/homo_sapiens/100_GRCh37"
      vep_cache_version       = '100'
      cadd_InDels             = "${params.genomes_base}/GRCh37/Annotation/pathoscore/InDels.tsv.gz"
      cadd_InDels_tbi         = "${params.genomes_base}/GRCh37/Annotation/pathoscore/InDels.tsv.gz.tbi"
      cadd_WG_SNVs            = "${params.genomes_base}/GRCh37/Annotation/pathoscore/whole_genome_SNVs.tsv.gz"
      cadd_WG_SNVs_tbi        = "${params.genomes_base}/GRCh37/Annotation/pathoscore/whole_genome_SNVs.tsv.gz.tbi"
      giab_highconf           = "${params.genomes_base}/GRCh37/GIAB/HG001_GRCh37_GIAB_highconf_CG-IllFB-IllGATKHC-Ion-10X-SOLID_CHROM1-X_v.3.3.2_highconf_PGandRTGphasetransfer.vcf.gz"
      giab_highconf_tbi       ="${params.genomes_base}/GRCh37/GIAB/HG001_GRCh37_GIAB_highconf_CG-IllFB-IllGATKHC-Ion-10X-SOLID_CHROM1-X_v.3.3.2_highconf_PGandRTGphasetransfer.vcf.gz.tbi"
      chco_highqual_snps    ="${params.genomes_base}/GRCh37/CHCO_HighQualitySnps.bed"
    }
    'smallerGRCh37' {
      fasta                 = "${params.genomes_base}/smallGRCh37/human_g1k_v37_decoy.small.fasta"
    }
  }
}
