/*
 * -------------------------------------------------------------
 *  Nextflow config file for use with Singularity on mendel
 * -------------------------------------------------------------
 * Defines basic usage limits and singularity image id.
 */

singularity {
  enabled = true
}

process {
  //beforeScript = 'module load singluarity'
  container = 'file:////home/maja5467/singularity-cachedir/layer_lab_dna_seq.simg'
  executor = 'local'
  cpus = 32
  maxForks = 16
}
env{
  mendel_results_dir = "/home/maja5467/projects/sequence_analysis"
  mendel_dbsnp = "/home/maja5467//ref/gatk/hg37/dbsnp_138.b37.vcf.gz"
  mendel_ensembl_gene_annotation = "/home/maja5467//ref/ensembl/Homo_sapiens.GRCh37.82.gff3.gz"
  mendel_known_indels = "/home/maja5467//ref/gatk/hg37/Mills_and_1000G_gold_standard.indels.b37.vcf.gz"
  mendel_ref_fasta = "/home/maja5467//ref/hg37/human_g1k_v37.fasta.gz"
}

