/*
 * -------------------------------------------------------------
 *  Nextflow config file for use with Singularity on mendel
 * -------------------------------------------------------------
 * Defines basic usage limits and singularity image id.
 */

singularity {
  enabled = true
  runOptions = "--bind /scratch,/Shares"
}

process {
  //beforeScript = 'module load singluarity'
  container = 'file:///home/maja5467/workspace/singularity/layer_lab_dna_seq_gatk_4.1.7.sif'
  executor = 'local'
  cpus = 32
  maxForks = 16
}

